.pantry-shelf-container, .pantry-shelf {
    height: 50px;    
}

.pantry-shelf-container {
    margin-top: -23px;
}

.pantry-shelf {
    position: absolute;
    left: 0;
    right: 0;

    background-size: cover;
    background-position: bottom;
}